.grid-item-user {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  margin-top: 10px;
}
.grid-item-device {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  margin-top: 10px;
}
.MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
